Checks: >
  *,
  readability-identifier-naming,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -hicpp-uppercase-literal-suffix,
  -readability-uppercase-literal-suffix,
  -cert-dcl16-c,
  -misc-include-cleaner,
  -llvmlibc-callee-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -llvmlibc-implementation-in-namespace
CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalVariableCase
    value: CamelCase
  - key: readability-identifier-naming.ConstantCase
    value: CamelCase
  - key: readability-identifier-naming.MethodCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
