/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DEBUG_Draggable
{
    -webkit-app-region: drag;
}
